* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    filter: blur(0.5px);
}

body {
    background: linear-gradient(
            -45deg,
            #1e0028,
            #46061c,
            #420505,
            #032425
    );
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
